body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Markazi Text', sans-serif;
  background-color: #EDEFEE; /* Light background color for elegance */
  color: #333; /* Text color */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #495E57; /* Primary color for a modern feel */
  color: #F4CE14; /* Highlight color */
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 3rem; /* Large font size for a bold statement */
  margin: 0;
}

.nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav li {
  margin-right: 20px; /* Increased spacing for a refined look */
}

.nav a {
  color: white;
  text-decoration: none;
}

.main {
  padding: 20px;
  text-align: left;
  background-color: #FFF; /* White background for a clean and elegant look */
  border-radius: 15px; /* Rounded corners for a modern touch */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  flex: 1;
  margin: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Media Queries for Responsive Design */

/* Mobile styles (up to 768px) */
@media (max-width: 768px) {
  .header {
    padding: 15px;
  }
  .header h1 {
    font-size: 2.5rem; /* Adjusted font size for better readability on smaller screens */
  }
  .nav {
    padding: 8px;
  }
  .main {
    margin: 15px;
  }
}

/* Tablet styles (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .header h1 {
    font-size: 3rem; /* Larger font size for impact on tablet screens */
  }
}

/* Desktop styles (1025px and above) */
@media (min-width: 1025px) {
  .header h1 {
    font-size: 4rem; /* Larger font size for impact on larger screens */
  }
  .main {
    margin: 30px;
  }
}
